* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav > ul > li > a:hover {
  color: blue;
}

.portfolio--cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.portifolio--card {
  width: 400px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.services-container {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
  gap: 1rem;
}

.service-btn {
  display: flex;
  align-items: center;
  width: 400px;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  gap: 20px;
}
p {
  text-align: center;
  padding: auto;
}
h1 {
  font-weight: bold;
  text-align: center;
  background-color: yellow;
}
body {
  background-color: beige;
}
h4 {
  text-align: center;
  font-weight: bold;
  justify-content: space-between;
}
ul {
  text-align: center;
  padding: 10px;
  font-weight: 10px;
}
.testimonials-btn {
  text-align: center;
  padding: 20px 15px;
}
#testimonials--container {
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.home-btn {
  text-align: center;
  padding: 15px;
}
#home-container {
  text-align: center;
}
.home-btn1 {
  text-align: left;
  padding: 15px;
}

@media (max-width: 1440px) {
  body {
    background-color: aquamarine;
    width: 700px;
    font-size: 35px;
  }
  .service-btn {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  body {
    background-color: lawngreen;
    font-size: 40px;
    width: 760px;
  }
  .service-btn {
  }
}
@media (max-width: 768px) {
  body {
    background-color: azure;
    font-size: 20px;
    width: 350px;
  }
  .service-btn {
    width: 100%;
    font-size: 25px;
  }
  .services-container {
    width: 700px;
  }
}

@media (max-width: 425px) {
  body {
    background-color: aqua;
    width: 250px;
  }
}
